LANG=ja_JP.UTF-8

EDITOR=vim
WORDCHARS="*?_-.[]~=&;!#$%^(){}<>"

PATH=$PATH:$HOME/.local/bin

{{- if eq .chezmoi.os "darwin" }}
alias ls='ls -G -w'
{{- else if eq .chezmoi.os "linux" }}
alias ls='ls --color=auto'
{{- end }}

if [ -f ~/.zsh-local ]; then
  . ~/.zsh-local
fi
